@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  background-color: black; /* Optional: Sets the text color to white for better contrast */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

button {
  cursor: pointer;
}
